/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

.no-link, .no-link:hover{
  color: inherit;
}

.baskerville
{
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

.baskerville-big
{
  font-size: 64px;
}

.page-header
{
  padding-bottom: 70px;
}

.affix-top
{
  position: absolute;
  left: 0;
  background-color: white;
}

.affix
{
  top: 0;
  left: 0;
  background-color: white;
}

.fig
{
  margin-bottom: 50px;
}

.loader
{
  position: fixed;
  top: 50%;
  left: 50%;
}

.footer
{
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: white;
}
