/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

.no-link, .no-link:hover{
  color: inherit;
}

.baskerville
{
  font-family: 'Baskerville Old Face', Baskerville, 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

.baskerville-big
{
  font-size: 48px;
}

.header
{
  padding-bottom: 40px;
}

.affix-top
{
  position: absolute;
  left: 0;
  background-color: white;
  z-index: 100;
}

.affix
{
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
}

.fig
{
  margin-bottom: 100px;
}

.loader
{
  position: fixed;
  bottom: 0;
  left: 50%;
}

#infscr-loading
{
  display: none;
}
