/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

.no-link, .no-link:hover{
  color: inherit;
  text-decoration: none;
}

.link .link-normal
{
  color: black;
}

.link:hover .link-normal
{
  color: darkred;
}

.link .link-reverse
{
  color: darkred;
}

.link:hover .link-reverse
{
  color: black;
}

.helvetica
{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.helvetica-big
{
  font-size: 64px;
}

.fig
{
  margin-bottom: 15px;
}

.loader
{
  position: fixed;
  top: 50%;
  left: 50%;
}
