---
layout: blog
title: My Library
---

<div class="container content">

    <h1 class="baskerville text-center">MY LIBRARY</h1>

    <div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		    <br>
		    <img src="{{ site.s3url }}/media/mylibrary.jpg" class="img-responsive center-block">
		    <br>
		    <br>
		</div>
	</div>

    <div class="baskerville text-muted">
        {% capture library %}{% include library.markdown %}{% endcapture %}
		{{ library | markdownify }}
    </div>

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">

			{% for post in site.posts %}
				<hr>
				<br>
				<h3 class="baskerville text-center"><a href="{{ post.url }}" class="no-link">{{ post.title }}<br>{{ post.subtitle }}</a></h3>
				<h4 class="baskerville text-center">{{ post.author }}</h4>
				<h5 class="baskerville text-center">
					<small>{{ post.date | date_to_long_string }}</small>
				</h5>
				{% if post.cover %}
					<a href="{{ post.url }}"><img src="{{ site.s3url }}/media/{{ post.cover }}.jpg" class="img-responsive center-block"></a>
					<br>
				{% endif %}
				<h5 class="baskerville text-center"><a href="{{ post.url }}" class="no-link">More...</a></h5>
				<br>
			{% endfor %}

		</div>
	</div>
	
</div>
