---
layout: blog
title: My Library
---

<div class="container content">

    <h1 class="baskerville text-center">MY LIBRARY</h1>

    <div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		    <br>
		    <img src="{{ site.s3url }}/media/mylibrary.jpg" class="img-responsive center-block">
		    <br>
		    <br>
		</div>
	</div>

    <div class="baskerville text-muted">
        {% capture library %}{% include library.markdown %}{% endcapture %}
		{{ library | markdownify }}
    </div>

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">

			{% assign post = site.posts | first %}
			<hr>
			<br>
			<h3 class="baskerville text-center">{{ post.title }}<br>{{ post.subtitle }}</h3>
			<h4 class="baskerville text-center">{{ post.author }}</h4>
			<h5 class="baskerville text-center">
				<small>{{ post.date | date_to_long_string }}</small>
			</h5>
			{% if post.cover %}
				<img src="{{ site.s3url }}/media/{{ post.cover }}.jpg" class="img-responsive center-block">
				<br>
			{% endif %}

		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

			<div class="baskerville text-justify">

			{{ post.content }}

			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			
			{% for image in post.images %}
				<br>
				<img src="{{ site.s3url }}/media/{{ image }}.jpg" class="img-responsive center-block">
			{% endfor %}
			<hr>
            <ul class="list-inline baskerville clearfix">
                {% if post.next %}
                <li class="pull-left"><a href="{{ post.next.url }}" class="so-link">&larr; Previous Book</a></li>
                {% endif %}
                {% if post.previous %}
                <li class="pull-right"><a href="{{ post.previous.url }}" class="so-link">Next Book &rarr;</a></li>
                {% endif %}
            </ul>

		</div>
	</div>
	
</div>
