<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Bruno Dayan - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Photoswipe -->
        <link rel="stylesheet" href="/css/photoswipe.css">

        <!-- Photoswipe Skin -->
        <link rel="stylesheet" href="/css/default-skin/default-skin.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% include analytics.html %}

    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top baskerville visible-xs" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <span class="title">BRUNO DAYAN</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/" class="btn btn-link no-link"><small>STILL</small></a></li>
                        <li><a href="/moving.html" class="btn btn-link no-link"><small>MOVING</small></a></li>
                        <li><a href="/biography.html" class="btn btn-link no-link"><small>BIOGRAPHY</small></a></li>
                        <li><a href="/blog.html" target="_blank" class="btn btn-link no-link"><small>BLOG</small></a></li>
                        <li><a href="http://www.instagram.com/brunodayanphotography" target="_blank" class="btn btn-link no-link"><small>INSTAGRAM</small></a></li>
                        <li><a href="http://www.facebook.com/brunodayan" target="_blank" class="btn btn-link no-link"><small>FACEBOOK</small></a></li>
                        <li><a href="http://www.serlinassociates.com/artist/brunodayan" target="_blank" class="btn btn-link no-link"><small>AGENT</small></a></li>
                        <li><a href="mailto:mail@brunodayan.com" class="btn btn-link no-link"><small>CONTACT</small></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid hidden-xs">

            <div class="header">
                <h1 class="baskerville baskerville-big text-center">
                    <a href="/" class="title">BRUNO &nbsp; DAYAN</a>
                </h1>

                <div class="btn-group btn-group-justified baskerville affix-top" data-spy="affix" data-offset-top="70">
                    <a href="/" class="btn btn-link no-link"><small>STILL</small></a>
                    <a href="/moving.html" class="btn btn-link no-link"><small>MOVING</small></a>
                    <a href="/biography.html" class="btn btn-link no-link"><small>BIOGRAPHY</small></a>
                    <a href="/blog.html" target="_blank" class="btn btn-link no-link"><small>BLOG</small></a>
                    <a href="http://www.instagram.com/brunodayanphotography" target="_blank" class="btn btn-link no-link"><small>INSTAGRAM</small></a>
                    <a href="http://www.facebook.com/brunodayan" target="_blank" class="btn btn-link no-link"><small>FACEBOOK</small></a>
                    <a href="http://www.serlinassociates.com/artist/brunodayan" target="_blank" class="btn btn-link no-link"><small>AGENT</small></a>
                    <a href="mailto:mail@brunodayan.com" class="btn btn-link no-link"><small>CONTACT</small></a>
                </div>
            </div>

        </div>

    {{ content }}

    <div class="loader"><h3 class="baskerville">Loading...</h3></div>

    {% if page.url == "/index.html" %}
    <nav id="page-nav">
        <a href="/2.html"></a>
    </nav>
    {% endif %}

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. 
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- InfiniteScroll JS -->
    <script src="/js/jquery.infinitescroll.min.js"></script>
    <!-- ImagesLoaded JS -->
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <!-- Photoswipe JS -->
    <script src="/js/photoswipe.min.js"></script> 
    <!-- Photoswipe UI JS -->
    <script src="/js/photoswipe-ui-default.min.js"></script>
    <!-- Photoswipe Parse JS -->
    <script src="/js/photoswipe-parse.js"></script>

    <script>
        $('#home').imagesLoaded(function(){
            $('.loader').hide();
            
            initPhotoSwipeFromDOM('#home');
        });

        $('#home').infinitescroll({
          navSelector  : '#page-nav',    // selector for the paged navigation 
          nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
          itemSelector : '.fig',     // selector for all items you'll retrieve
          bufferPx: 3000,
          errorCallback: function(){
                $('#infscr-loading').remove();
            }
          },
          // trigger Masonry as a callback
          function( newElements ) {
            $('#infscr-loading').remove();
            $('.loader').show();
            // hide new items while they are loading
            var $newElems = $( newElements ).css({ opacity: 0 });
            // ensure that images load before adding to masonry layout
            $newElems.imagesLoaded(function(){
              $('.loader').hide();
              // show elems now they're ready
              $newElems.animate({ opacity: 1 });
            });
          }
        );

    </script>

    </body>
</html>
