---
layout: blog
---

<div class="container content">

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">

			<h3 class="baskerville text-center">{{ page.title }}<br>{{ page.subtitle }}</h3>
			<h4 class="baskerville text-center">{{ page.author }}</h4>
			<h5 class="baskerville text-center">
				<small>{{ page.date | date_to_long_string }}</small>
			</h5>
			{% if page.cover %}
				<img src="{{ site.s3url }}/media/{{ page.cover }}.jpg" class="img-responsive center-block">
				<br>
			{% endif %}

		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			
			<div class="baskerville text-justify">

			{{ content }}

			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">

			{% for image in page.images %}
				<br>
				<img src="{{ site.s3url }}/media/{{ image }}.jpg" class="img-responsive center-block">
			{% endfor %}
			<hr>
            <ul class="list-inline baskerville clearfix">
                {% if page.next %}
                <li class="pull-left"><a href="{{ page.next.url }}" class="no-link">&larr; Previous Book</a></li>
                {% endif %}
                {% if page.previous %}
                <li class="pull-right"><a href="{{ page.previous.url }}" class="no-link">Next Book &rarr;</a></li>
                {% endif %}
            </ul>
            <h5 class="baskerville text-center"><a href="/blog.html" class="no-link">MY LIBRARY</a></h5>
            <br>

		</div>
	</div>
	
</div>
